.newsletter{
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
}
.rec-31,
.rec-32,
.group-73{
    position: absolute;
    z-index: -1;
}
.rec-32{
    bottom: 22px;
    left: 49px;
}
.group-73{
    right: 53px;
    top: 4px;
}
.newsletter .Container{
    z-index: 1;
    position: relative;
    padding: 84px 15px;
    border-radius: 50px;
    -webkit-border-radius: 75px;
    overflow: hidden;
    display: flex;
    background-color: #F4F9FF;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}
.newsletter .rec-31{
    top: 0;
    right: 0;
}
.newsletter .info p{
    color: var(--sec-text-clr);
    line-height: 1.8;
}
.newsletter form{
    flex-basis: 479px;
}
@media (max-width:1200px) {
    .newsletter form{
        flex-basis: 379px;
    }
}
.newsletter form .form-group{
    position: relative;
}
.newsletter form .form-group input{
    border: 1px solid #F1F1F1;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    outline: none;
    padding: 25px;
    caret-color: var(--main-clr);
    font-size: 14px;
    width: 100%;
}
.newsletter form .form-group button{
    background-color: blue;
    color: white;
    border: none;
    padding: 20px 35px;
    border-radius: 60px;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: absolute;
    right: 8px;
    top: 6px;
    font-size: 14px;
    width: fit-content;
}
.newsletter form .form-group button:hover{
    background-color:blue;
}
@media (max-width:768px) {
    .newsletter .Container{
        flex-direction: column;
        text-align: center;
        padding: 10px 20px;
        align-items: normal;
    }
    .newsletter form{
        flex-basis: auto;
    }
    .newsletter form .form-group{
        margin: 25px 10px;
    }
}
@media (max-width:425px) {
    .newsletter .rec-31{
        display: none;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
}
    .newsletter form .form-group input{
        font-size: 12px;
        padding: 20px;
    }
    .newsletter form .form-group button{
        font-size: 12px;
        padding: 15px 25px;
    }
}